{% with title=title %}
    {% include "header.html" %}
{% endwith %}
<div class="rounded-2xl shadow-xs bg-white p-8">
    <h1 class="mb-4 text-2xl text-bold tracking-wide">{{ title }}</h1>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="bg-green-300 p-4 text-sm font-semibold text-slate-800 rounded-md my-4">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    <p>Hello world!</p>
</div>
{% with title=title %}
    {% include "footer.html" %}
{% endwith %}