/* === FULL PAGE ===*/
html,
body {
    height: 100vh;
    background-image: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
    overflow-x: hidden;
    font-size: 18px;
}